PLATFORM_NAME="blanco"
DB_NAME=postgres
DB_USER=#############################
DB_PASSWORD=#############
DB_HOST=##########################
DB_PORT=6543
CSRF_TRUSTED_ORIGINS=#######################################################
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,subdomain.example.com
MEDIA_ROOT=/data/media
DJANGO_ENVIRONMENT=development
STATIC_URL="djangostaticfiles.example.com"

DJANGO_DBMS=sqlite3 # or postgress
SUPABASE_PROJECT_ID =####################
SUPABASE_SECRET_KEY==########################################-=####################
SUPABASE_BUCKET=########################
