PLATFORM_NAME="blanco"
DB_NAME=postgres
DB_USER=#############################
DB_PASSWORD=#############
DB_HOST=##########################
DB_PORT=6543

MEDIA_ROOT=/data/media
DJANGO_ENVIRONMENT=development
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,subdomain.example.com
